@import '../mixins.scss';


.drum {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    top: 50%;
    margin-right: 6px;
    z-index: 15;

    @include transition;

    &__close {
        width: 12px;
        height: 12px;
        overflow: hidden;
        margin-bottom: 6px;
        cursor: pointer;
        margin-right: 2px;
    }

    &__btn {
        padding: 10px;
        border: 1px solid $gold5D;
        cursor: pointer;
        margin-bottom: 4px;

        @include transition;

        & svg {
            @include transition;
        }

        &:hover {
            background-color: $gold5D;

            & svg {
                fill: $whiteF;
            }
        }


    }

    &__desc {
        font-family: $Inter;
        font-weight: 500;
        font-size: 10px;
        line-height: 120%;
        text-align: center;
        color: $gold5D;
    }
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    @include transition;
    transform: translateX(-100%);
}

.shadow {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: 13;
    width: 100%;
    height: 100vh;
}

.shadow-show {
    display: block;
}

.one {
    transform: rotate(-135deg) translateX(-15px);
}

.two {
    display: flex;
    justify-content: center;


    &__text {
        transform: rotate(-45deg) translateX(-60px);
        color: #000000;
    }


    background-color: $whiteF;

}

.three {
    display: flex;
    justify-content: center;


    &__text {
        transform: rotate(135deg) translateX(-40px);
        color: #000000;
    }


    background-color: $whiteF;
}

.four {
    transform: rotate(45deg) translateX(-20px);
}

#circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
    position: relative;
    border: 8px solid $gold5D;
    transform: rotate(-5deg) translate(-7.5px, -8.5px);
    transition: all 3s cubic-bezier(.21, .77, .77, .92);
    position: relative;
    z-index: 1;
}

.modal {
    position: relative;
    z-index: 14;
    background-color: $bg21;
    border: 2px solid $gold5D;
    width: 960px;
    height: 600px;
    display: flex;
    // display: none;
    justify-content: space-between;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.2);
    @include transition;

    & > .modal__content-submit-two {
        display: none;
    }

    &__target-drum {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 30;
    }

    &__circle {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 8px solid transparent;
        align-self: center;
        margin-left: 32px;
        position: relative;
        transform: rotate(-5deg);
        transition: all 3s cubic-bezier(.21, .77, .77, .92);

        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $gold5D;
            z-index: 3;
        }

        &-ellipse__left {
            position: absolute;
            top: 259px;
            left: -23px;
            width: 18px;
            height: 10px;
            background: $gold5D;
            border-radius: 45%;
            clear: none;
            transform: rotate(-5deg);
            z-index: -1;
        }

        &-ellipse__top {
            position: absolute;
            top: -18px;
            left: 209px;
            width: 18px;
            height: 10px;
            background: $gold5D;
            border-radius: 45%;
            clear: none;
            transform: rotate(-97deg);
            z-index: -1;
        }

        &-ellipse__right {
            position: absolute;
            top: 215px;
            left: 488px;
            width: 18px;
            height: 10px;
            background: $gold5D;
            border-radius: 45%;
            clear: none;
            transform: rotate(-5deg);
            z-index: -1;
        }

        &-ellipse__bot {
            position: absolute;
            top: 493px;
            left: 256px;
            width: 18px;
            height: 10px;
            background: $gold5D;
            border-radius: 45%;
            clear: none;
            transform: rotate(83deg);
            z-index: -1;
        }


        &-content {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            position: relative;
            z-index: -1;


            &-triangle {
                font-family: $Sitka;
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                user-select: none;
                display: flex;
                align-items: center;
                letter-spacing: 0.05em;
                position: relative;
                z-index: -10;
            }



        }
    }

    &__content {
        margin: 90px 40px 100px 25px;
        max-width: 321px;
        position: relative;
        z-index: -1;

        &-close {
            position: absolute;
            top: 34px;
            right: 34px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                // transform: translate(50%, 50%);
                width: 100%;
                height: 4px;
                border-radius: 8px;
                transform: rotate(135deg);
                background: $gold5D;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                // transform: translate(50%, 50%);
                width: 100%;
                height: 4px;
                border-radius: 8px;
                transform: rotate(45deg);
                background: $gold5D;
            }
        }

        &-title {
            font-family: $Playfair;
            font-weight: 400;
            font-size: 26px;
            line-height: 130%;
            letter-spacing: 0.05em;
            color: $gold5D;
            margin-bottom: 18px;
        }

        &-desc {
            font-family: $Roboto;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.05em;
            opacity: 0.4;
            margin-bottom: 30px;
        }

        &-dropbtn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            width: 100%;
            height: 80px;

            cursor: pointer;
            background: transparent;
            border: 1px solid $gold5D;

            margin-bottom: 96px;

            & p {
                font-family: $Roboto;
                font-weight: 300;
                font-size: 18px;
                line-height: 130%;
                color: $grayB3;
            }

            & svg {
                @include transition;
            }
        }

        &-droplist {
            position: absolute;
            top: 235px;
            z-index: 1;
            background: rgba(0, 0, 0, 0.4);
            mix-blend-mode: normal;
            width: 100%;
            max-width: 321px;
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 0;
            padding: 0;
            overflow: hidden;

            transition: all .3s ease-in-out;

            &__item {
                font-family: $Roboto;
                font-weight: 300;
                font-size: 18px;
                line-height: 130%;
                color: #818181;
                @include transition;
                cursor: pointer;

                &:hover {
                    color: $whiteF;
                }
            }
        }

        &-submit {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .5;
            font-family: $Playfair;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.05em;
            background: transparent;
            border: 1px solid $gold5D;
            cursor: pointer;
            @include transition;
        }
    }
}




.thank {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 55px;


    position: relative;
    z-index: 14;
    background-color: $bg21;
    border: 2px solid $gold5D;
    width: 960px;
    height: 600px;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.2);
    @include transition;


    &__text {
        font-family: $Playfair;
        font-weight: 400;
        font-size: 34px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.05em;
        color: $gold5D;
        width: 75%;
    }
}

.modal__content-input {
    padding: 0 20px;
    width: 100%;
    height: 30px;
    font-family: $Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    background: transparent;
    border: none;
    border-bottom: 1px solid $gold5D;
    outline: 0;
    outline-offset: 0;
    margin-top: 50px;
    margin-bottom: 96px;

    &::placeholder {
        color: $whiteF;
    }
}

.hover-btn {

    opacity: 1;

    &:hover {
        background-color: $gold5D;

    }
}



.active-dropdown {
    & svg {
        transform: rotate(180deg);
    }
}


.first-bg {
    background-image: url(../img/first-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: first 30s ease-in-out infinite;
}

.second-bg {
    background-image: url(../img/second-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: second 30s ease-in-out infinite;
}

@keyframes first {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes second {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.hero {
    height: 100vh;
    position: relative;
    z-index: 0;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-head {
            margin-top: 100px;
            display: flex;
            align-items: center;
            gap: 200px;

            &-title {
                font-family: $OldStandard;
                font-weight: 700;
                font-size: 62px;
                line-height: 130%;
                text-transform: uppercase;
                text-align: end;
            }
        }


        &-intro {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            position: relative;
            z-index: 0;



            // &::after {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: -100%;
            //     right: -100%;
            //     bottom: 0;
            //     background-color: $bg21;
            //     box-shadow: 0 0 4px 4px $bg21;
            //     z-index: 1;
            //     filter: blur(5px);
            // }

            &__block {
                position: relative;
                z-index: 2;

                &-title {
                    font-family: $Inter;
                    font-weight: 300;
                    font-size: 50px;
                    line-height: 130%;
                    color: $gold5D;
                    margin-bottom: 6px;
                }

                &-desc {
                    font-family: $Sitka;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 130%;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
}




.services {
    margin-top: 100px;

    & .hero__container-intro {
        display: none;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 533px;
            background: #0A1921;
            opacity: 0.8;

            border: 0.5px solid $gold5D;
            background-color: $bg21;

            position: relative;
            z-index: 1;
            overflow: hidden;

            @include transition;

            &::after {
                content: "";
                background-color: #0A1921;
                opacity: 0.8;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
            }

            &:hover div {
                filter: blur(10px);
            }

            &__text {
                font-family: $ZenAntique;
                font-weight: 400;
                font-size: 40px;
                line-height: 120%;
                text-transform: capitalize;
                opacity: 0.5;
                width: 100%;
                text-align: center;
                position: relative;
                z-index: 4;
            }
        }
    }
}

.left-bot,
.left-top,
.right-bot,
.right-top,
.center-top,
.center-bot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(122px);
    opacity: .8;

    @include transition;
}

.left-top {
    background-image: url('../img/left-top.png');

}

.center-top {
    background-image: url('../img/center-top.png');

}

.right-top {
    background-image: url('../img/right-top.png');

}

.left-bot {
    background-image: url('../img/left-bot.png');

}

.center-bot {
    background-image: url('../img/center-bot.png');

}

.right-bot {
    background-image: url('../img/right-bot.png');

}



.how {
    margin-top: 100px;


    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;

        &-title {
            font-family: $ZenAntique;
            font-weight: 400;
            font-size: 52px;
            line-height: 130%;
            letter-spacing: 0.05em;

            & span {
                color: $gold5D;
            }
        }

        &-blogs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 90px 125px;

            &__block {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &-desc {
                    font-family: $Roboto;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 130%;
                }

                &-title {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    & p {
                        font-family: $Sitka;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 130%;
                        letter-spacing: 0.05em;
                        color: $gold5D;
                    }
                }
            }
        }
    }
}


.increase {
    margin-top: 100px;

    background: url('../img/bg-inc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        &-card {
            padding: 70px 60px;
            background: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);
            max-width: 840px;

            &__logo {
                font-family: $Roboto;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: $gold5D;
                margin-bottom: 20px;
            }

            &__title {
                font-family: $ZenAntique;
                font-weight: 400;
                font-size: 22px;
                line-height: 130%;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                margin-bottom: 30px;
            }

            &__desc {
                font-family: $Roboto;
                font-weight: 300;
                font-size: 18px;
                line-height: 130%;
                margin-bottom: 57px;
                opacity: .6;
            }

            &__btn {
                background: none;
                border: 1px solid $gold5D;
                width: 400px;
                height: 60px;

                font-family: $Playfair;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                cursor: pointer;
                @include transition;

                &:hover {
                    background: $gold5D;
                }
            }
        }
    }
}



.reviews {
    margin-top: 100px;
    background-image: url('../img/bg-slider.png');
    height: 460px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        min-width: 0;





        &-slider {

            max-width: 720px;
            max-height: 226px;
            margin: 0;

            & button {
                background: none;
                border: 1px solid $gold5D;
                width: 60px;
                height: 60px;
                cursor: pointer;
            }

            & .swiper-button-prev::after {
                color: $gold5D;
                font-size: 20px;
            }

            & .swiper-button-next::after {
                color: $gold5D;
                font-size: 20px;
            }

            &__wrapper {


                &-slide {
                    display: flex;
                    background: $whiteF;
                    max-width: 720px;
                    height: 226px;
                    filter: drop-shadow(0px -6px 10px rgba(0, 0, 0, 0.25));

                    &__content {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        margin: 52px 34px 33px 0;

                        &-name {
                            font-family: $Sitka;
                            font-weight: 600;
                            font-size: 22px;
                            line-height: 130%;
                            letter-spacing: 0.05em;
                            color: $bg41;
                            margin-bottom: 4px;
                        }

                        &-country {
                            font-family: $Roboto;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 130%;
                            letter-spacing: 0.05em;
                            color: $gold5D;
                            margin-bottom: 20px;
                        }

                        &-desc {
                            font-family: $Roboto;
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 130%;
                            color: #4E4E4E;
                        }
                    }

                    & img {
                        width: 82px;
                        height: 82px;
                        margin: 20px 30px auto 20px;
                    }
                }
            }
        }

        &-title {
            font-family: $Playfair;
            font-weight: 400;
            font-size: 56px;
            line-height: 130%;
            letter-spacing: 0.05em;
        }
    }
}


.slider {
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: -18px;
    //     width: 654px;
    //     height: 205px;
    //     background-color: $whiteF;
    // }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: -35px;
    //     width: 590px;
    //     height: 185px;
    //     background-color: $whiteF;
    // }
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & button {
        background: none;
        border: 1px solid $gold5D;
        width: 60px;
        height: 60px;
        cursor: pointer;
        @include transition;

        &:hover {
            background: $gold5D;

            & svg {
                fill: $whiteF;
            }
        }
    }
}

.questions {
    position: relative;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }



    &__container {
        display: flex;
        flex-direction: column;
        gap: 100px;

        &-block {



            &__card {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-areas:
                    "title btn"
                    "desc btn";
                border-top: 0.5px solid $whiteF;

                &:last-child {
                    border-bottom: 0.5px solid $whiteF;
                }

                overflow: hidden;

                &-desc {
                    grid-area: desc;
                    max-width: 1296px;
                    font-family: $Inter;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 160%;
                    color: rgba(255, 255, 255, 0.7);
                    margin: 0 30px;
                    max-height: 0;
                    @include transition;
                }



                &-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__title {
                        grid-area: title;
                        margin: 50px 30px;
                        font-family: $Inter;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 150%;
                        color: $black4E;

                        &-btn {
                            grid-area: btn;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                            width: 54px;
                            height: 54px;
                            cursor: pointer;
                            position: relative;
                            @include transition;
                            margin-top: 50px;
                            margin-right: 30px;

                            & svg {
                                @include transition;
                                content: url('../img/knight.svg');
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }


                            &:hover svg {
                                fill: $whiteF;
                            }

                            &-cube {
                                background: $gold5D;





                                &:nth-child(2) {
                                    border-top-left-radius: 4px;
                                }

                                &:nth-child(3) {
                                    background: $black4E;
                                    border-top-right-radius: 4px;
                                }

                                &:nth-child(4) {
                                    background: $black4E;
                                    border-bottom-left-radius: 4px;
                                }

                                &:nth-child(5) {
                                    border-bottom-right-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-tabs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 420px;
            width: 100%;

            &__tab {
                font-family: $ZenAntique;
                font-weight: 400;
                font-size: 72px;
                line-height: 130%;
                color: $whiteF;
            }
        }

        &-head {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            margin-top: 226px;

            &__company {
                font-family: $Inter;
                font-weight: 300;
                font-size: 30px;
                line-height: 130%;
                color: $gold5D;
            }

            &__title {
                font-family: $ZenAntique;
                font-weight: 400;
                font-size: 40px;
                line-height: 130%;
                max-width: 771px;
                text-align: center;
            }
        }



        &-tabs {
            margin-bottom: 68.5px;
        }
    }
}

.dark {
    color: $black4E;
}

.active-collapse {
    height: 100%;
    margin: 0 auto 50px 30px;
}

.active-collapse-btn {
    & svg {
        fill: $whiteF;
    }
}



.team {
    margin-top: 89px;

    &__container {


        &-title {
            font-family: $Playfair;
            font-weight: 400;
            font-size: 56px;
            line-height: 130%;
            letter-spacing: 0.05em;
            margin-bottom: 20px;
        }

        &-desc {
            font-family: $Roboto;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            opacity: .6;
            margin-bottom: 72.5px;
        }

        &-cards {
            display: flex;
            gap: 40px;

            &__card {

                &-img {
                    margin-bottom: 40px;
                }


                &-name {
                    font-family: $Sitka;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 130%;
                    text-align: center;
                    letter-spacing: 0.05em;
                    margin-bottom: 10px;
                }

                &-job {
                    font-family: $Sitka;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 130%;
                    text-align: center;
                    letter-spacing: 0.05em;
                    color: $gold5D;
                }
            }
        }
    }
}



.clients {
    margin-top: 100px;

    &__container {


        &-title {
            font-family: $Playfair;
            font-weight: 400;
            font-size: 56px;
            line-height: 130%;
            letter-spacing: 0.05em;
            margin-bottom: 20px;
        }

        &-desc {
            font-family: $Roboto;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            opacity: .6;
            margin-bottom: 50px;
        }

        &-cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;

            &__card {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 280px;
                height: 280px;
                border: 0.5px solid $gold5D;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $bg21;
                    opacity: .93;
                    @include transition;
                }

                &:hover::after {
                    opacity: 0;
                }
            }
        }
    }
}



.drop {
    margin-top: 100px;

    &__container {

        &-title {
            margin-bottom: 10px;
            opacity: .2;
            font-family: $Roboto;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;

        }

        &-content {
            font-family: $Inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            opacity: .2;
            margin: 0;
            max-height: 0;
            overflow: hidden;
            @include transition;
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37px;
            height: 32px;
            border: 0.5px solid $gold5D;
            background: none;
            cursor: pointer;
            @include transition;

            & svg {
                @include transition;
            }

            &:hover {
                background: $gold5D;

                & svg {
                    fill: $whiteF;
                }
            }
        }
    }
}

.active-drop {
    transform: rotate(-180deg);
}





@media screen and (max-width: 1500px) {
    .team {
        &__container {

            &-cards {
                justify-content: space-between;
                gap: 0;

                & img {
                    width: 100%;
                }
            }
        }
    }

    .clients {
        &__container {
            &-cards {
                &__card {
                    width: 100%;

                    & a {
                        & img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}





@media screen and (max-width: 1400px) {

    .clients {
        &__container {
            &-cards {
                &__card {
                    height: 240px;
                }
            }
        }
    }

    .team {
        &__container {

            &-cards {
                gap: 10px;
            }
        }
    }

    .questions {

        &__container {

            &-head {
                margin-top: 50px;
                margin-bottom: 200px;
            }
        }

        &__background {


            & img {
                width: 40%;
            }
        }
    }


    .reviews {
        &__container {

            &-title {
                font-size: 40px;
            }
        }
    }

    .services {
        &__container {
            gap: 25px;

            &-link {
                height: 433px;
            }
        }
    }
}


@media screen and (max-width: 1250px) {
    .clients {
        &__container {
            &-cards {
                &__card {
                    height: 210px;
                }
            }
        }
    }

    .reviews {
        &__container {

            .slider {
                gap: 20px;
            }

            &-title {}
        }
    }

}

@media screen and (max-width: 1200px) {

    .questions {

        &__container {

            &-tabs {
                gap: 0;
                justify-content: space-around;

                &__tab {
                    font-size: 48px;
                }
            }

            &-head {
                gap: 20px;

                &__company {
                    font-size: 22px;
                }

                &__title {
                    font-size: 28px;
                    max-width: 450px;
                }
            }
        }

        &__background {


            & img {}
        }
    }

    .reviews {
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 38px;

            .slider {}

            &-title {}
        }
    }

    .services {
        &__container {
            gap: 25px;

            &-link {
                height: 333px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {


    .clients {
        &__container {
            &-cards {
                &__card {
                    height: 170px;
                }
            }
        }
    }
}


@media screen and (max-width: 875px) {

    .hero {

        &__container {
            &-intro {
                justify-content: space-between;

                &__block {
                    &-title {
                        font-size: 30px;
                    }

                    &-desc {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .clients {
        &__container {

            &-title {
                font-size: 40px;
                margin-bottom: 10px;
            }

            &-desc {
                font-size: 16px;
                margin-bottom: 20px;
            }

            &-cards {

                &__card {
                    height: 170px;

                    & a {
                        width: 100%;
                    }
                }
            }
        }
    }

    .team {

        &__container {

            &-title {
                font-size: 40px;
                margin-bottom: 10px;
            }

            &-desc {
                font-size: 16px;
                margin-bottom: 40px;
            }
        }
    }

    .questions {

        &__container {
            gap: 20px;

            &-tabs {
                justify-content: space-between;
                margin-bottom: 0;

                &__tab {}
            }

            &-head {
                gap: 10px;
                margin-top: 0;

                &__company {}

                &__title {}
            }
        }

        &__background {


            & img {}
        }
    }

    .reviews {
        &__container {

            .slider {
                .btns {
                    display: none;
                }
            }

            &-slider {

                &__wrapper {


                    &-slide {

                        &__content {
                            margin: 10px;

                            &-name {
                                margin-left: 70px;
                            }

                            &-country {
                                margin-left: 70px;
                                margin-bottom: 10px;
                            }

                            &-desc {
                                grid-area: desc;
                            }
                        }

                        & img {
                            width: 50px;
                            height: 50px;
                            margin: 0;
                            grid-area: img;
                            position: absolute;
                            left: 10px;
                            top: 10px;
                        }
                    }
                }


            }

            &-title {}
        }
    }

    .how {

        &__container {
            gap: 28px;

            &-title {
                font-size: 40px;
            }

            &-blogs {
                gap: 30px;
            }
        }
    }

    .services {
        &__container {
            gap: 25px;

            &-link {
                height: 233px;

                &__text {
                    font-size: 28px;

                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .clients {
        &__container {

            &-title {}

            &-cards {
                gap: 4px;

                &__card {
                    height: 110px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .questions {


        &__container {
            &-block {
                &__card {
                    grid-template-areas:
                        "title btn"
                        "desc desc";

                    &-desc {
                        font-size: 22px;

                    }

                    &-content {
                        &__title {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 650px) {

    .clients {
        &__container {

            &-title {}

            &-cards {

                &__card {
                    height: 110px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .team {

        &__container {
            &-desc {
                margin-bottom: 20px;
            }

            &-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .questions {

        &__container {

            &-tabs {

                &__tab {
                    font-size: 28px;
                }
            }

            &-head {

                &__company {
                    font-size: 18px;
                }

                &__title {
                    font-size: 20px;
                    max-width: 350px;
                }
            }
        }

        &__background {
            top: 47px;

            & img {}
        }
    }


    .increase {
        height: 408px;

        &__container {
            margin: 0;
            padding: 0;
            width: 100%;

            &-card {
                padding: 30px 20px;

                &__logo {
                    font-size: 14px;
                }

                &__title {
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                &__desc {
                    font-size: 16px;
                    margin-bottom: 50px;
                }

                &__btn {
                    font-size: 16px;
                    width: auto;
                    padding: 18px 20px 19px 20px;
                }
            }
        }
    }

    .how {

        &__container {

            &-title {}

            &-blogs {
                grid-template-columns: 1fr;

                &__block {
                    gap: 10px;

                    &-desc {
                        text-align: center;
                    }
                }
            }
        }
    }

    .hero {
        & .hero__container-intro {
            display: none;
        }

        &__container {
            &-intro {
                flex-direction: column;
                gap: 24px;
                margin-bottom: 40px;

                &__block {
                    &-title {
                        text-align: center;
                    }

                    &-desc {
                        text-align: center;
                    }
                }
            }
        }
    }

    .services {
        margin-top: 0;

        & .hero__container-intro {
            display: flex;
        }

        &__container {
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            &-link {
                height: 155px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .clients {
        &__container {

            &-title {}

            &-cards {

                &__card {
                    height: 85px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .drop {
        margin-top: 40px;

        &__container {
            &-title {
                font-size: 16px;
            }

            &-content {
                font-size: 16px;
            }

            &-button {
                margin: 0 auto;
            }
        }
    }

    .clients {
        &__container {

            &-title {
                font-size: 18px;
                margin-left: 45px;
                position: relative;

                &::before {
                    content: '”';
                    font-family: 'Playfair Display SC';
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 130%;
                    letter-spacing: 0.05em;
                    position: absolute;
                    top: -17px;
                    left: -40px;

                }
            }

            &-cards {

                &__card {
                    height: 75px;
                }
            }
        }
    }

    .clients {
        margin-top: 40px;
    }

    .team {
        margin-top: 40px;

        &__container {
            &-desc {}

            &-title {
                font-size: 18px;
                margin-left: 45px;
                position: relative;

                &::before {
                    content: '”';
                    font-family: 'Playfair Display SC';
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 130%;
                    letter-spacing: 0.05em;
                    position: absolute;
                    top: -17px;
                    left: -40px;
                }
            }

            &-cards {
                gap: 20px 10px;

                &__card {

                    &-img {
                        margin-bottom: 20px;
                    }

                    &-name {
                        margin-bottom: 6px;
                        font-size: 16px;
                    }

                    &-job {
                        font-size: 16px;

                    }
                }
            }
        }
    }


    .questions {

        &__container {
            &-block {

                margin: 0 -20px;

                &__card {

                    &-desc {
                        font-size: 14px;
                    }

                    &-content {

                        &__title {
                            font-size: 14px;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            margin-left: 20px;
                            margin-right: 0;

                            &-btn {
                                margin-top: 20px;
                                width: 40px;
                                height: 40px;
                                margin-right: 20px;

                                &-cube {
                                    width: 20px;
                                    height: 20px;
                                }

                                & svg {
                                    width: 17px;
                                    height: 30px;


                                }
                            }
                        }
                    }
                }
            }

            &-tabs {

                &__tab {
                    font-size: 20px;
                }
            }

            &-head {

                &__company {
                    font-size: 14px;
                }

                &__title {
                    font-size: 18px;
                }
            }
        }

        &__background {

            & img {
                width: 45%;
            }
        }
    }


    .questions {
        margin-top: 40px;
    }

    .reviews {

        margin-top: 40px;

        &__container {
            align-items: center;

            .slider {
                .btns {
                    display: none;
                }
            }

            &-slider {
                max-height: 250px;

                &__wrapper {


                    &-slide {


                        &__content {
                            margin: 10px;

                            &-name {
                                margin-left: 70px;
                            }

                            &-country {
                                margin-left: 70px;
                                margin-bottom: 10px;
                            }

                            &-desc {
                                font-size: 16px;
                            }
                        }

                        & img {
                            width: 50px;
                            height: 50px;
                            margin: 0;
                            grid-area: img;
                            position: absolute;
                            left: 10px;
                            top: 10px;
                        }
                    }
                }


            }

            &-title {
                font-size: 18px;
                position: relative;

                &::before {
                    content: '”';
                    font-family: 'Playfair Display SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 130%;
                    letter-spacing: 0.05em;
                    position: absolute;
                    top: -17px;
                    left: -40px;
                }
            }
        }
    }



    .increase {
        margin-top: 40px;

        &__container {
            margin: 0;
            padding: 0;
        }
    }

    .how {
        margin-top: 40px;

        &__container {

            &-title {
                font-size: 18px;
            }

            &-blogs {

                &__block {
                    &-title {
                        & p {
                            font-size: 22px;
                        }
                    }

                    &-desc {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .hero {

        & .hero__container-intro {
            display: none;
        }
    }

    .services {
        margin-top: 0;

        & .hero__container-intro {
            display: flex;
        }

        &__container {
            gap: 10px;

            &-link {
                height: 190px;

                &__text {
                    font-size: 16px;

                }
            }
        }
    }

    .left-top {
        background-image: url('../img/mobile-left-top.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .center-top {
        background-image: url('../img/mobile-right-top.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right-top {
        background-image: url('../img/mobile-left-center.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left-bot {
        background-image: url('../img/mobile-right-center.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .center-bot {
        background-image: url('../img/mobile-left-bot.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right-bot {
        background-image: url('../img/mobile-right-bot.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}



@media screen and (max-width: 400px) {

    .clients {
        &__container {

            &-cards {

                &__card {
                    height: 60px;
                }
            }
        }
    }

    .services {
        margin-top: 40px;

        &__container {
            gap: 10px;

            &-link {
                height: 155px;
            }
        }
    }
}



@media screen and (max-width: 1080px) {
    .drum {
        display: none;
    }
}



@media screen and (max-width: 400px) {
    .questions {

        &__container {

            &-tabs {

                &__tab {}
            }

            &-head {

                &__company {}

                &__title {}
            }
        }

        &__background {

            & img {
                width: 50%;
            }
        }
    }
}



@media screen and (max-width: 900px) {
    #circle {
        width: 360px;
        height: 360px;
    }

    .modal {
        justify-content: flex-start;
        max-width: 960px;
        width: 100%;
        &__circle {
            width: 360px;
            height: 360px;

            &::before {
                width: 35px;
                height: 35px;
            }

            &-content {

                &-triangle {

                    & .one__text {
                        margin-left: 10px;
                    }
                    & .two__text {
                        transform: rotate(-45deg) translateX(-40px);
                    }
                    & .three__text {
                        transform: rotate(135deg) translateX(-14px);
                        max-width: 140px;
                    }
                    & .four__text {
                        margin-left: 10px;
                    }
                }
            }

            &-ellipse {
                &__right {
                    top: 151px;
                    left: 348px;
                }
                &__top {
                    left: 147px;
                }
                &__left {
                    top: 183px;
                }
                &__bot {
                    top: 353px;
                    left: 180px;
                }
            }
        }
        &__content {

            &-submit {
                // display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .thank {
        gap: 44px;
        max-width: 320px;
        width: 100%;
        height: 388px;
        padding: 0 22px;

        &__img {
            width: 240px;
            height: 156px;
        }

        &__text {
            font-size: 22px;
            width: 100%;
        }
    }


    #circle {
        width: 280px;
        height: 280px;
    }

    .modal {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "title title"
        "drum target"
        "sub sub";
        max-width: 350px;
        height: auto;
        padding: 20px 14px 17px 14px;

        &__content {
            z-index: 2000;

            &-input {
                margin: 0;
                margin-bottom: 20px;
                margin-top: 0;
                text-align: center;
                border-bottom-width: 0.5px;
            }
        }

        &__content-droplist {
            top: 189px;
            z-index: 2000;
            // backdrop-filter: blur(0);
            // background-color: #000000;
            &__item {
                z-index: 3000;
                color: $whiteF;
            }
        }

        & > .modal__content-submit-two {
            display: block;
            grid-area: sub;
            height: 60px;
            font-size: 18px;
            margin-top: 20px;
            font-family: 'Playfair Display SC';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            background: none;
            border: 1px solid $gold5D;
            cursor: pointer;
            @include transition;
            opacity: .5;
        }

        &__target-drum {
            grid-area: target;
            & svg {
                width: 24px;
                height: 16px;
            }
        }
        &__circle {
            grid-area: drum;
            width: 280px;
            height: 280px;
            margin-left: 0;

            align-self: center;
            justify-self: flex-end;

            &::before {
                width: 25px;
                height: 25px;
            }

            &-content {

                

                & .one {
                    transform: rotate(-135deg) translateX(-7px);
                }
                & .four {
                    transform: rotate(45deg) translateX(-6px);
                }

                &-triangle {

                    & .one__text {
                        margin-left: 0;
                        font-size: 16px;
                        max-width: 100px;

                        letter-spacing: 0;
                    }
                    & .two__text {
                        font-size: 16px;
                        letter-spacing: 0;
                        max-width: 100px;

                        transform: rotate(-45deg) translateX(-28px);
                    }
                    & .three__text {
                        font-size: 16px;
                        max-width: 100px;
                        transform: rotate(135deg) translateX(-4px);
                        letter-spacing: 0;

                    }
                    & .four__text {
                        margin-left: 0;
                        font-size: 16px;
                        max-width: 100px;

                        letter-spacing: 0;

                    }
                }
            }

            &-ellipse {
                &__right {
                    top: 116px;
                    left: 270px;
                    width: 12px;
                    height: 7px;
                }
                &__top {
                    top: -15px;
                    left: 113px;
                    width: 12px;
                    height: 7px;
                }
                &__left {
                    left: -19px;
                    top: 141px;
                    width: 12px;
                    height: 7px;
                }
                &__bot {
                    top: 273px;
                    left: 140px;
                    width: 12px;
                    height: 7px;
                }
            }
        }
        &__content.modal__content-submit {
            display: none;
        }
        &__content {
            grid-area: title;
            margin: 0;

            &-close {
                z-index: 50000;
            }
           
            &-title {
                font-size: 18px;
                margin-bottom: 20px;
                text-align: center;
                
            }

            &-desc {
                font-size: 16px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 20px;
            }

            &-close {
                top: 14px;
                right: 14px;
            }

            &-dropbtn {
                margin-bottom: 20px;
                height: 60px;
                & p {
                    font-weight: 300;
                    font-size: 14px;
                }
            }

            &-submit {
                display: none;

            }
        }
    }
}