@import '../vars.scss';


.licensing {


    &__container {
        background: url('../img/license.png') no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 500px;
        padding: 40px 50px;

        &-title {
            font-family: $ZenAntique;
            font-weight: 400;
            font-size: 52px;
            line-height: 130%;
            letter-spacing: 0.05em;

        }
    }
}



@media screen and (max-width: 1200px) {

    .licensing {


        &__container {
            height: 420px;

            &-title {}
        }
    }

}


@media screen and (max-width: 1024px) {

    .licensing {


        &__container {
            height: 370px;

            &-title {}
        }
    }

}


@media screen and (max-width: 900px) {

    .licensing {


        &__container {
            height: 300px;

            &-title {
                font-size: 40px;
            }
        }
    }

}


@media screen and (max-width: 768px) {

    .licensing {
        margin-bottom: 40px;



        &__container {
            height: 250px;

            &-title {
                font-size: 30px;
            }

            &-title {}
        }
    }

}


@media screen and (max-width: 575px) {

    .licensing {
        margin-bottom: 40px;



        &__container {
            background: url('../img/licensing-mobile.png') no-repeat;
            background-position: center;
            background-size: cover;
            height: 250px;
            padding: 0;
            padding-top: 28px;

            &-title {
                text-align: center;
                font-size: 24px;
            }

            &-title {}
        }
    }

}


@media screen and (max-width: 420px) {

    .licensing {



        &__container {
            height: 200px;

            &-title {
                font-size: 16px;
            }
        }
    }

}