@import '../vars.scss';



.promotion {
    margin-bottom: 54px;

    &__container {

        & img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }

}

.promotion-desc {


    &__container {


        &-label {
            font-family: $Playfair;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.05em;
            color: $gold5D;
            margin-bottom: 10px;
        }

        &-title {
            font-family: $Playfair;
            font-weight: 400;
            font-size: 56px;
            line-height: 130%;
            letter-spacing: 0.05em;
            margin-bottom: 30px;
        }

        &-desc {
            font-family: $Roboto;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            opacity: 0.6;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}


@media screen and (max-width: 768px) {

    .promotion {
        margin-bottom: 20px;
    }

    .promotion-desc {

        &__container {

            &-title {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
    }
}


@media screen and (max-width: 480px) {

    .promotion {


        &__container {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .promotion-desc {

        &__container {

            &-desc {
                font-size: 16px;
            }

            &-label {
                font-size: 10px;
            }

            &-title {
                font-size: 18px;
            }
        }
    }
}