$whiteF: #ffffff;
$bg41: #2C3541;
$bgD9: #D9D9D9;
$bg21: #0A1921;
$black4E: #4E4E4E;
$gold5D: #BB8E5D;
$grayB3: #B3B3B3;


$Inter: 'Inter', sans-serif;
$OldStandard: 'Old standart', serif;
$Playfair: 'Playfair Display SC', sans-serif;
$Roboto: 'Roboto', sans-serif;
$ZenAntique: 'Zen Antique', serif;
$Sitka: 'Sitka Display', sans-serif;